@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@500&family=Roboto+Slab:wght@300;400&family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("https://source.unsplash.com/1600x900/?sea");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.container{
   align-items: center;
    margin: 50px 70px;
    
}

.signin_form{
    padding: 20px;
    background-color: #b2ecec;
    color: #07077a;
    width: 500px;
    margin: 0px auto;
    
}

.signin_form input{
    margin: 10px;
    padding: 10px;
    border: 1px solid #a69f9f;
    border-radius: 6px;
    width: 300px;
    font-size: 20px;
    font-size: 12px;
    color: #514e4e;
}
.signin_form h1{
    margin: 8px;
    padding: 10px 0px;
    font-weight: 400;  
    text-align: center;

}


.signin_form p{
    margin: 8px;
    padding: 10px 0px;
  
    text-align: center;
}
.signin_form a{
    text-decoration: none;
    color: #514e4e;
    font-size: 18px;

}

.signin_form a:hover{
    
    color: #07077a;
  

}
.signin_form .btn{
    text-align: center;
    margin: 8px;
   
  
}

.btn button{
    padding: 10px 40px;
    width: 200px;
    border-radius: 8px;
    background-color: #07077a;
    border: none;
    color: #fff;
    font-size: 18px;
}.btn button:hover{
    
    color: #07077a;
    border: 1px solid #07077a;
    background-color: #b2ecec;
 
}