@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@500&family=Roboto+Slab:wght@300;400&family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Playfair Display', serif;
}
/*navbar starts*/

a{
    text-decoration: none;
}
.main{
    padding: 0%;
    margin: 0%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #07077a;
    color: white;
    height: 50px;
}
.content a{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
}

.reg a{
    background-color: #b2ecec;
    border-radius: 10px;
    padding: 10px 50px;
    text-decoration: none;
    color: darkblue;
}

.logo a{
    color: #b2ecec;
    font-size: 30px;
    font-weight: bold;
}

.logo span{
    color: #fcf4f4;
    font-size: 25px;
}

.reg a:hover{
    background-color: #07077a;
    border: 1px solid #b2ecec;
    color: #b2ecec;
}
.content a:hover{
    color: #b2ecec;
}
/*navbar ends*/
/*section 1 starts*/
.sec1 {
    background-image: url("../img/blue-hawaii-lanikai-beach-oahu.jpg");
    /*opacity: 0.8;*/
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    color: white;
    background-repeat: no-repeat;
    padding: 50px;

}

.sec1 .container{
    width: 700px;
    animation: sec1Animation 1s ease-in-out 1s;
    margin: 0px auto;
    padding: 10px;
    box-sizing: border-box;
    
}

@keyframes sec1Animation {
    from{
        margin-left: 10px;
    }

    to{
        margin-left: 250px;
        
    }
    
}

 .btn1 {
    
    border: 1px solid #3f8da7;
    background-color: #b2ecec;
    padding: 15px 5px;
    border-radius: 30px;
    color: #07077a;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn2 {
    
    border: 1px solid #3f8da7;
    background-color:  #07077a;
    padding: 10px 35px;
    border-radius: 30px;
    color: #b2ecec;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn2:hover{
    transition: all;
    transform: scale(1.1);
}
.btn1 i{
    color: blue;
}
.heading1 {
   font-size: 60px;
   color:#07077a;
   margin-block-start: 0.5em;
    margin-block-end: 0em;
}
.para1 {
    font-size: 30px;
    margin-block-start: 0em;
    color: #2c6072;
}

/*section1 end*/
/*section 2 starts*/
.sec2 {
    box-sizing: border-box;
    padding: 10px 40px;
   margin: 10px 40px;
    
}
.content-sec2{
    text-align: center;
    padding: 20px;
}

.content-sec2 h1{
    color: #2c6072;
    font-size: 40px;
  
    font-weight: 500;
    text-transform: capitalize;
}
.content-sec2 h4{
    color: #868282;
    font-size: 30px;
    font-weight: 500;
}

.content-sec2 p{
    border: 2px solid #07077a;
    width: 70px;
    margin: 10px auto;
    text-align: center;
}

.cards{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card{
    width: 21%;
    margin: 10px 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #ffffff;
    box-sizing: border-box;
}

.card-img{
    width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
  margin: 0px;
}

.card-content{
 padding: 0px 10px;
 margin: 0%;
 box-sizing: border-box;
}

.card-heding{
    color: #3b3737;
    font-size: 25px;
    padding: 0%;
    padding-top: 8px;
    margin: 0%;
   
}

.card-para{
    color: gray;
    font-size: 15px;
    padding: 10px 0px;
    padding-top: 8px;
    margin: 0%;
}

.card-btn{
    background-color: #07077a;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 18px;
 
}

.card-btn:hover{
    background-color: #ffffff;
    border: 1px solid #07077a;
    color: #07077a;
}

.packages{
    text-align: center ;
    padding: 30px;
}

.packages a{
    background-color: #3f8da7;
    color: #fff;
    font-size: 18px;
    padding: 20px 40px;
    font-weight: 700px;
    border: none;
    border-radius: 10px;
    text-decoration: none;

}

.card:hover{
    transition: all;
    transform: scale(1.05);
    transition-timing-function: ease-in;
}

/*packages page*/
.packages_sec {
    box-sizing: border-box;
   background-image: url("../img/banner5.jpg");
    background-size: cover;
  
    margin-top: 0%;
    margin-bottom: 20px;
}

.packages_container{
    margin: 0px auto;
    padding: 80px;
    text-align: center;
}

.packages_container h4{
    color: #2c6072;
    font-size: 40px;
    font-weight: 500;
}

.packages_container p{
    border: 2px solid #07077a;
    width: 100px;
    margin: 10px auto;
    text-align: center;
}
/*section2 ends*/
/*section3 starts*/
.sec3{
   height: 350px;
   background-image: url("img/banner5.jpg");
   box-sizing: border-box;
   background-size: cover;
  align-items: center;
  width: 100%
  
}

.sec3-heading{
    text-align: center;
    padding: 30px;
    margin:10px;
    padding-top: 60px;
    animation: sec3Animation 3s ease-in-out 1s;
}

@keyframes sec3Animation {
    from{
        margin-left: -400px;
    }

    to{
        margin-left: 10px;
       
    }
}


.sec3-heading h5{
    font-size: 20px;
    font-weight: lighter;
    margin-block-start: 0.47em;
    margin-block-end: 0.67em;
    text-transform: uppercase;
    color: #3b3737;
}

.sec3-heading p{
    border: 2px solid #07077a;
    width: 50px;
    text-align: center;
    margin: 0px auto;
}

.sec3-heading h1{
    color: #07077a;
    font-size: 40px;
    margin-block-start: 0.43em;
    margin-block-end: 0.63em;
    font-weight: 500;
}

.sec3-heading button{
    padding: 15px 60px;
    background-color: #07077a;
    border-radius: 30px;
    border: 1px solid #3f8da7;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}


.sec3-heading button:hover{
    background: #3f8da7;
    font-weight: 600;
    transition: all;
    transform: scale(1.03);
    color: #07077a;
}
/*section4*/
.sec4{
padding: 50px;
display: flex;

justify-content: space-between;
align-items:flex-start;

}
.content-sec4{
   margin-top: 40px;
   padding:20px 60px;
   animation: sec4Animation 2s ease-in-out 1s;
}

@keyframes sec4Animation {
    from{
        margin-left: -100px;
    }
    to{
        margin-left: 0px;
    }
    
}

.content-sec4 h1{
    color: #07077a;
    padding-bottom: 20px;
}

.content-sec4 p{
    color: #3b3737;
}

.sec4 .img{
    
    box-sizing: border-box;
    justify-content: space-around;
    position: relative;
    padding: 0px 20px;
    width: 100%;
    animation: sec4Animation2 2s ease-in-out 1s;
}

@keyframes sec4Animation2 {
    from{
        margin-right: -40px;
    }
    to{
        margin-right: 0px;
    }
}

.img_s{
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
    border-radius: 30px;
}

.img_s:hover{
    transition: all;
    transform: scale(1.04);
}
.img_s2{
    height:260px;
    text-align: center;
   margin-top: 60px;
}


.content-sec4 button{
    padding: 15px 60px;
    background-color: #07077a;
    border-radius: 30px;
    border: 1px solid #3f8da7;
    color: white;
    font-size: 16px;
    margin-top: 30px;
}


.content-sec4 button:hover{
    background: #3f8da7;
    font-weight: 600;
    transition: all;
    transform: scale(1.03);
    color: #07077a;
}

/*section 4 ends*/
.sec5{
   
    margin: 10px 0px;
}

.sec5_img{
    width: 26%;
}



.sec5_img:hover{
    transition: all;
    transition-timing-function: ease-in-out;
    transform: scale(1.09);
    transition-duration: 1s;
   
}

.sec5-imgs{
    display: flex;
    height: 300px;
   
}

.content-sec5{
    text-align: center;
    padding: 20px;
}

.content-sec5 h1{
    color: #2c6072;
    font-size: 40px;
  
    font-weight: 500;
    text-transform: capitalize;
}

.content-sec5 h4{
    color: #868282;
    font-size: 30px;
    font-weight: 500;

}

.content-sec5 p{
    border: 2px solid #07077a;
    width: 50px;
    margin: 10px auto;
    text-align: center;
}

/*section 5 end*/
/*section 6 starts*/
.sec6{
    margin: 0px 80px;
    padding: 20px;
}

.content-sec6{
    text-align: center;
    padding: 20px;
}


.content-sec6 h1{
    color: #2c6072;
    font-size: 40px;
  
    font-weight: 500;
    text-transform: capitalize;
}
.content-sec6 h4{
    color: #868282;
    font-size: 30px;
    font-weight: 500;

}

.content-sec6 p{
    border: 2px solid #07077a;
    width: 70px;
    margin: 10px auto;
    text-align: center;
}

.sec6_card{
    width: 300px;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px 30px;
   
}

.sec6_card_img{
    width: 100%;
}

.sec6_cards{
    display: flex;
    align-items: center;
    margin: 10px auto;
    flex-direction: row;
    
}

.sec6_heading p{
    background-color: #3f8da7;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight:400;
}
.sec6_card .card-content{
   padding: 10px 0px;
    color: #868282;
    
}
/*sec6 ends*/
/*footer stars*/
footer{
    background-color: #07077a;
    padding: 20px 80px;
}


footer .container{
    display: flex;
    padding: 30px;
    flex-direction: row;
}

.col{
    width: 25%;
    margin: 0px 30px;
}

.col h1{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.col a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    
}

.col a:hover{
    color: #3f8da7;
}
.col p{
    color: #868282;
}

.container .icons{
    color: #868282;
    font-size: 20px;
   
}

.icons i{
    padding: 15px;
    background-color: #79d4f2;
    border-radius: 50%;
    color: #07077a;
    margin: 10px;
    
}

.icons i:hover{
    border: 1px solid #79d4f2;
    background: #07077a;
    color: #79d4f2;
}


.contact input{
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
    color: #6d6a6a;
    box-sizing: border-box;
}

.contact input:focus{
    border:none;
}

.contact textarea{
   padding: 10px;
    margin: 10px 0px;
    color: #6d6a6a;
    box-sizing: border-box;
}

.contact button{
    padding: 10px 50px;
    font-size: 16px;
   background-color: #3f8da7;
   border: none;
   font-weight:600;
   color: #fff;
   cursor: pointer;
}

/*footer end*/

/*about page*/

.about-Sec{
    box-sizing: border-box;
    background-image: url("../img/banner5.jpg");
     background-size: cover;
   
     margin-top: 0%;
     margin-bottom: 20px;
}



.about_container{
    margin: 0px auto;
    text-align: center;
    padding: 0px 100px;
}

.about_container h3{
    color: #2c6072;
    font-size: 40px;
    font-weight: 500;
}


.about_container p{
    border: 2px solid #07077a;
    width: 100px;
    margin: 10px auto;
    text-align: center;
}

.about_container h4{
    color: #494646;
    font-size: 20px;
    font-weight: 500;
}
.about_sec2{
    margin: 40px auto;
}
.about_cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px
}

.about_card{
    width: 30%;
    display: flex;
    padding: 10px ;
    
}
.card_sec1{
    padding: 20px;
    background-color: #3f8da7;
    border-radius: 50%;
    margin: 20px;
    
}

.card_sec1 i{
    font-size: 25px;
    color: white;
}

.card_sec2 p{
color: grey;
}

.card_sec2 h3{
    color: #2c6072;;
    margin-bottom: 10px;
    }

.about_card2{
    width: 45%;
    display: flex;
   margin: 10px;
   align-items: center;
   border: 1px solid lightgray;
    border-radius: 10px; 
    padding: 10px;
}

    .card_sec1_img{
    width: 50%;
    align-items: center;
 
   }

   .card_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
   }

   .card_bottom i{color: goldenrod;}
   .card_sec1_img img{
    border-radius: 50%;
    
   }

   .card_team{
    padding: 15px;
    border: 1px solid lightgrey;
    text-align: center;
    margin: 10px;
}
   
   .about_icons{
    margin: 2px auto;
   }

   .about_icons i{
    margin: 5px 14px;
    font-size: 20px;
    color: grey;
   }

   .card_team p{
   margin: 5px 0px;
   color: #494646;
   }

   .blog_cards{
    margin:10px auto;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
   }

   .blog_card{
    width: 30%;
    padding: 15px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid lightgrey;
   
   }

  

   .blog_card img{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
   }

   .blog_card h6{
    font-size: 16px;
    font-weight: 500px;
    color: #868282;
    margin-bottom: 10px;
   }

   .blog_card h3{
    color: #3d3c3c;
    margin-bottom: 10px;
   }
   .blog_card p{
    font-size: 16px;
    color: #868282;
    
   }

   .contactUS{
   
    display: flex;
    flex-wrap: wrap;
    margin: 10px 150px;
    
    
   }

   .contactn{
    width: 50%;
    padding: 20px;
   }

   .contactn h1{
    color: #494646;
   }
  

   
.contactn input{
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
    color: #6d6a6a;
    box-sizing: border-box;
}

.contactn input:focus{
    border:none;
}

.contactn textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    color: #6d6a6a;
    box-sizing: border-box;
}

.contactn button{
    padding: 10px 50px;
    font-size: 16px;
   background-color: #3f8da7;
   border: none;
   font-weight:600;
   color: #fff;
   cursor: pointer;
}

.address{
    box-sizing: border-box;
    width: 30%;
    padding: 20px;
   }

   .address h1{
    color: #494646;
   }
.address p{
    font-size: 22px;
    color: #868282;
}